{{ template "base" . }}

{{ define "title" }}

My home Page

{{ end }}

{{ define "Content"  }}

{{ $authors := .Data.authors }}

{{ range $i,$v := .Data.posts }}

<div class="card">
    <div class="card-header">
        <h3>{{ $v.Title }}</h3>
        <div>
            <span><strong>Published: </strong></span><time>{{ $v.PublishDate | humanDate }}</time> | <span><strong>Updated: </strong></span><time>{{ $v.UpdatedDate | humanDate }}</time>
            <div class="byline-wrapper">
                <strong>By: </strong><span class="byline">{{ with index $authors $i }} {{ .Email }} {{ end }}</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        {{ $v.Content }}
    </div>
    <div class="card-footer">
        <a href="/posts/{{ .Id }}">{{ $v.Title }}</a>
    </div>
</div>
{{ end }}

{{ end }}

{{ define "aside" }}
This is the aside page
{{ end }}