{{ template "base" . }}

{{ define "title" }}

My home Page

{{ end }}

{{ define "Content" }}

{{ $authors := .Data.authors }}

{{ $avatars := .Data.avatars }}



{{ range $i,$v := .Data.posts }}

<div class="card">
    <div class="card-header">
        <h3>{{ $v.Title }}</h3>
        <div>
            <img src="/{{- with index $avatars $i -}} {{- . -}} {{- end -}}" alt="avatar" loading="lazy" decoding="async" height="50" width="50" class="avatar">
            <div class="meta-wrapper">
                <div class="byline-wrapper">
                    <strong>By: </strong><span class="byline">{{ with index $authors $i }} {{ .Email }} {{ end }}</span>
                </div>
                <span><strong>Published: </strong></span><time>{{ $v.PublishDate | humanDate }}</time> | <span><strong>Updated: </strong></span><time>{{ $v.UpdatedDate | humanDate }}</time>
            </div>
            <div class="taxonomy-wrapper w-100">
                <strong>Category: </strong> <span class="category">{{ index $v.Categories 0}}</span>

            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="summary">{{ $v.Summary }}</p>
    </div>
    <div class="card-footer">
        <a href="/posts/{{ .Id }}">{{ $v.Title }}</a>
    </div>
</div>
{{ end }}

{{ end }}

{{ define "aside" }}
This is the aside page
{{ end }}