{{ template "base" . }}

{{ define "title" }}
Login
{{ end }}

{{ define "Content" }}
<header class="container">
    <div class="row">
        <div class="col"><h1 class="text-center">{{ index .StringMap "title" }}</h1></div>
    </div>
</header>
<form action="/admin/login" method="post" class="login-form">
    <div class="form-control">
        <input type="hidden" name="csrf_token" value="{{.DefaultTemplateData.CSRFToken}}">
    </div>
    <div class="form-control">
        <label for="email">Email: <input type="text" name="email" id="user_email"></label>
    </div>
    <div class="form-control">
        <label for="password">Password: <input type="password" name="password" id="user_password"></label>
    </div>
    <div class="form-control">
        <label for="submit"><input type="submit" value="submit"></label>
    </div>
</form>

{{ end }}

{{ define "aside" }}

{{ end }}