{{ template "base" . }}

{{ define "title" }}

My home Page

{{ end }}

{{ define "Content"  }}

{{ $author := .Data.author }}

{{ $avatar := .Data.avatar }}

{{ $htmlContent := index .Data.html }}

{{ with index .Data "post"}}

<div class="post-header">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <img src="{{.FeaturedImage}}" alt="{{.Title }}" height="600" width="1066" class="featured-image" decoding="async" loading="lazy">
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>{{ .Title }}</h3>
        <time>{{ .PublishDate | humanDate }}</time>
        <time>{{ .UpdatedDate | humanDate }}</time>
        <div class="byline-wrapper">
            <img src="{{- with $avatar -}} {{- . -}} {{- end -}}" alt="avatar" loading="lazy" decoding="async" height="50" width="50" class="avatar">
            <strong>BY: </strong><span class="byline">{{ $author.Email }}</span>
        </div>
        <p class="summary">{{ .Summary }}</p>
    </div>
    <div class="card-body">
        {{ with $htmlContent }}
            {{ . }}
        {{ end }}
    </div>
    <div class="card-footer">
        <a href="/posts/{{ .Id }}">{{ .Title }}</a>
    </div>
</div>

{{ end }}
{{ end }}

{{ define "aside" }}
This is the aside page
{{ end }}