{{ template "base" . }}


{{ define "title" }}

My home Page

{{ end }}

{{ define "Content"  }}

{{ $author := .Data.author }}

{{ $avatar := .Data.avatar }}

{{ $htmlContent := index .Data.html }}

{{ $categories := .Categories }}

{{ $tags := .Tags }}

{{ $pageID := .Data.post.Id }}

{{ $relatedByTags := .Data.relatedByTags }}

{{ with index .Data "post"}}


<div class="post-header">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <img src="{{.FeaturedImage}}" alt="{{.Title }}" height="600" width="1066" class="featured-image" decoding="async" loading="lazy">
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h3>{{ .Title }}</h3>
        <div>
            <img src="/{{ $avatar}}" alt="avatar" loading="lazy" decoding="async" height="50" width="50" class="avatar">
            <div class="meta-wrapper">
                <div class="byline-wrapper">
                    <strong>By: </strong><span class="byline">{{ $author.Email }}</span>
                </div>
                <div class="meta-wrapper">
                    <span><strong>Published: </strong></span><time>{{ .PublishDate | humanDate }}</time> | <span><strong>Updated: </strong></span><time>{{ .UpdatedDate | humanDate }}</time>
                </div>
            <div class="taxonomy-wrapper">
                {{ with $categories }}
                <span><strong>Category: </strong>{{range . }} <a href="/categories/{{ .Slug }}" title="{{ .Name }}" class="category">{{ .Name }}</a> {{ end }} </span>
                {{ end }}
                {{ with $tags }}
                <span><strong>Tags: </strong></span>
                <ul class="tags">
                    {{ range . }}
                    <a href="/tags/{{ .Name }}" title="{{.Name }}" class="tag">{{ .Name }}</a>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        {{ with $htmlContent }}
            {{ . }}
        {{ end }}
    </div>
    <div class="card-footer">
        <a href="/posts/{{ .Id }}">{{ .Title }}</a>
    </div>
</div>

{{ end }}
{{ end }}

{{ define "aside" }}

{{ $pageID := .Data.post.Id }}
{{ $relatedByTags := .Data.relatedByTags }}

{{ with .Data.relatedByCategory }}
<section class="related-category-post">
    <h3 class="mx-auto text-center my-3">Related By Category </h3>
    <ul class="related-category-post__list-group">
        {{ range . }}

        {{ if ne $pageID .Id }}
        <li class="related-category-post__list-item">
            <div class="card">
                <div class="card-header">
                    <h3>{{.Title}}</h3>
                </div>
                <div class="card-body">
                    <p>{{ .Summary }}</p>
                </div>
                <div class="card-footer">
                    <a href="/posts/{{.Id}}">{{.Title}}</a>
                </div>
            </div>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</section>
{{ end }}

{{ with .Data.relatedByTags }}
<section class="related-category-post">
    <h3 class="mx-auto text-center my-3">Related By Tags </h3>
    <ul class="related-category-post__list-group">
        {{ range . }}

        {{ if ne $pageID .Id }}
        <li class="related-category-post__list-item">
            <div class="card">
                <div class="card-header">
                    <h3>{{.Title}}</h3>
                </div>
                <div class="card-body">
                    <p>{{ .Summary }}</p>
                </div>
                <div class="card-footer">
                    <a href="/posts/{{.Id}}">{{.Title}}</a>
                </div>
            </div>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</section>
{{ end }}
{{ end }}