{{ template "base" . }}

{{ define "title" }}

My home Page

{{ end }}

{{ define "Content"  }}

{{ $author := .Data.author }}

{{ with .Data.post  }}

<div class="card">
    <div class="card-header">
        <h3>{{ .Title }}</h3>
        <time>{{ .PublishDate | humanDate }}</time>
        <time>{{ .UpdatedDate | humanDate }}</time>
        <div class="byline-wrapper">
            <strong>BY: </strong><span class="byline">{{ $author.Email }}</span>
        </div>
        <p class="summary">{{ .Summary }}</p>
    </div>
    <div class="card-body">
        {{ .Content  }}
    </div>
    <div class="card-footer">
        <a href="/posts/{{ .Id }}">{{ .Title }}</a>
    </div>
</div>
{{ end }}


{{ end }}

{{ define "aside" }}
This is the aside page
{{ end }}