*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial;
}

address {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

/****************
** Footer Styles
**/
a.phone {
  color: #fff;
  text-decoration: underline;
}

.main-footer {
  background: #333;
  padding: 2.5%;
  color: #fff;
}
.main-footer .container {
  margin: auto;
}
.main-footer .container .row {
  gap: 1.5em;
}

.footer-logo {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.footer-section {
  text-align: left;
}
.footer-section h4 {
  border-bottom: 1px dashed #fff;
  display: inline-block;
  padding-bottom: 7px;
  width: auto;
}
.footer-section.logo {
  text-align: left;
}
.footer-section .main-nav {
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: auto;
}
.footer-section .main-nav a {
  color: #fff;
  display: block;
  font-family: "DejaVu Sans", Verdana, Monospace;
  margin: unset;
  text-decoration: underline;
  width: auto;
}
.footer-section .main-nav a:hover {
  color: #fff;
}
.footer-section .main-nav a:hover::after {
  width: 0;
}

.social-list__group {
  list-style: none;
}
.social-list__group .social-list__item {
  display: inline-grid;
  margin: 0;
  padding: 0;
  place-items: center;
}
.social-list__group .social-list__item:hover .social-list__link {
  background: indigo;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  transform: translateY(-3px);
}
.social-list__group .social-list__item:hover .social-list__link::after {
  width: 75%;
}
.social-list__group .social-list__item .social-list__link {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border: 1px solid #666;
  border-radius: 50%;
  display: grid;
  height: 40px;
  place-items: center;
  position: relative;
  width: 40px;
}
.social-list__group .social-list__item .social-list__link::after {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  transition-duration: 200ms;
  background: indigo;
  content: "";
  height: 2px;
  width: 0;
  display: block;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper {
  display: grid;
  margin: auto;
  padding: 0 2.5%;
  max-width: 100%;
}

.container {
  display: block;
  max-width: 100%;
  margin: auto;
  width: 100%;
}
.container .row {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1.5rem;
  padding: 0.25rem 0.33rem;
}
@media screen and (min-width: 968px) {
  .container .row {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
}
.container .row.right-rail {
  grid-template-columns: 1fr;
}
@media screen and (min-width: 968px) {
  .container .row.right-rail {
    grid-template-columns: 3fr 1fr;
  }
}

.main-header {
  display: grid;
  place-items: center;
  height: 100%;
}

.main-content {
  min-height: 75vh;
  max-width: 100%;
}

.card {
  border-bottom: 1px dashed #666;
  margin-bottom: 1.5em;
  max-width: 100%;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DejaVu Sans", Verdana, Monospace;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

a {
  font-family: Verdana;
  display: inline-block;
  margin-bottom: 1em;
  text-decoration: none;
}

blockquote {
  border-left: 3px solid #666;
  color: #333;
  font-size: 1.75em;
  font-style: italic;
  font-weight: 700;
  margin-left: 2rem;
  padding-left: 1rem;
}

p,
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  margin-bottom: 1em;
  max-width: 100%;
}

ul,
ol {
  margin: 0 0 1em 0;
  padding: 0;
  list-style-position: inside;
}

.main-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-nav a {
  color: #333;
  font-weight: 600;
  padding: 3px 4px;
  position: relative;
  text-transform: uppercase;
  width: auto;
}
.main-nav a:first-child {
  margin-right: auto;
}
.main-nav a::after {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: indigo;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate3D(-50%, 0, 0);
}
.main-nav a:hover {
  color: blue;
}
.main-nav a:hover::after {
  width: 80%;
}

p {
  margin-bottom: 1rem;
}

.byline {
  display: inline-block;
  font-family: "Courier";
  font-size: 1em;
  padding: 0.5rem 0rem;
  text-transform: uppercase;
}

.avatar {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  float: left;
}

.summary {
  --max-lines: 2;
  color: #333;
  display: -webkit-box;
  font-style: italic;
  -webkit-line-clamp: var(--max-lines);
  overflow: hidden;
  -webkit-box-orient: vertical;
  padding: 0.5em 0;
  position: relative;
}
.summary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0.5turn, rgba(0, 0, 0, 0) 0 80%, rgb(255, 255, 255) 80% 100%);
  z-index: 0;
}

#flashMessage {
  --speed: 1.5s;
  --delay: 3s;
  animation: var(--speed) ease-in-out var(--delay) forwards fadeOut;
  background: red;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
}

form {
  max-width: 768px;
  margin: auto;
}

form.login-form {
  max-width: 275px;
}

.form-control {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: flex;
  min-height: 30px;
  margin-bottom: 0.5em;
}

label,
input,
textarea {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 18px;
  padding: 5px 7px;
  width: 100%;
}

input {
  background: transparent;
  border: none;
  outline: 1px solid #000;
}

form.login-form * input[type=submit] {
  background: indigo;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

label:focus-within {
  color: transparent;
}

form.add-post {
  width: 100%;
  display: block;
  margin: auto;
}
form.add-post .form-control {
  display: flex;
  flex-flow: column nowrap;
  color: #000;
}
form.add-post .form-control textarea {
  background: #999;
}

.d-none {
  display: none;
}

.fade-out {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
}

/*# sourceMappingURL=index.css.map */
